# --- Dataset ---
*.csv

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
.pytest_cache/

# --- VS Code ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- git ---
.gitattribute

# --- MacOS ---
.DS_Store